html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}
.MainPage {
    display: grid;
    place-items: center; /* 等同於 justify + align 同r置中 */
    width:1200px;
    margin: 0 auto;
    height: 100vh;
}


.full-board {
    display: grid;
    grid-template-columns: repeat(calc(var(--cols)), var(--cell-size));
    grid-template-rows: repeat(calc(var(--rows)), var(--cell-size));
    width: fit-content;
    margin: 1rem 0;
    font-family: monospace;
    position: relative;
}

.cell, .row-label, .col-label, .corner-label {
    width: var(--cell-size);
    height: var(--cell-size);
    line-height: var(--cell-size);
}

.cell {
    border: 0.25px solid rgba(128, 128, 128, 0.9);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
    .cell:hover {
        transition: background-color 0.2s ease;
    }

.ship {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(60%);
    z-index: 20;
    pointer-events: none;
    transform-origin: top left;
}

.transition-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeOut 1s linear forwards;
    animation-delay: 0.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.deploy-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.deploy-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
}
.deploy-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}
.deploy-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0rem;
}

subordinate-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.u-btn {
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid;
    border-radius: 6px;
    color: white;
    min-width: 80px;
    height: 40px;
    cursor: pointer;
    transition: filter 0.2s ease;
}

    .u-btn:hover {
        filter: brightness(85%);
    }

.budget {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    border-radius: 6px;
    padding: 6px 12px;
    background-color: goldenrod;
    color: white;
    min-width: 120px;
    height: 40px;
}

.unit-panel {
    width: 280px;
    padding-left: 10px;
    max-width: 100%
}

.unit-entry {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 8px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

    .unit-entry:hover {
        background-color: #f7f7f7;
    }

.unit-list {
    width: 150px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%
}
.unit-prepare {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 8px;
    background-color: white;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.2s;
}
    .unit-prepare:hover {
        background-color: #f7f7f7;
    }
.unit-prepare-frameless {
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin-bottom: 8px;
    background-color: white;
    align-items: center;
}

.quantity {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #00BFFF, #0064ff);
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

.unit-img {
    flex-shrink: 0;
    margin-right: 5px;
}

    .unit-img img {
        width: var(--img-size);
        height: var(--img-size);
        object-fit: contain;
    }

.unit-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.unit-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
}

.unit-name {
    flex: 1;
}

.unit-size {
    margin-left: 8px;
    color: #555;
    white-space: nowrap;
}

.unit-price {
    margin-left: 12px;
    color: #007bff;
    white-space: nowrap;
}
    .unit-price.insufficient {
        color: red;
        font-weight: bold;       
    }

.unit-desc {
    margin-top: 4px;
    color: #444;
    font-size: 0.9em;
}

.col-label, .row-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1); /* 半透明白底 */
    color: #333;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    user-select: none;
    border: 1px solid #ccc;
}


.corner-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    pointer-events: none;
}
.floating-tip {
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}
.combat-board-wrapper {
    display: flex;
    position: relative;
    width: fit-content;
}
.center-divider {
    position: absolute;
    width: 2px;
    height: var(--cntLine-height); 
    background-color: black;
    top: var(--cntLine-top);
    left: var(--cntLine-left);
    z-index: 10;
    pointer-events: none;
}
.cursor {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 30;
    pointer-events: none;
    transform-origin: top left;    
}
.dectnum {
    position: absolute;
    color: whitesmoke;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 50;
    pointer-events: none;
    opacity:0.5
}
.fire-flame {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, orange 40%, red 80%, transparent 100%);
    border-radius: 50%;
    animation: flicker 0.4s infinite alternate;
    z-index: 40;
    opacity: 0.75;
}

@keyframes flicker {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }

    to {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.8;
    }
}
.bombing-animation {
    position: absolute;
    width: 40px;
    height: 40px;    
    background-size: contain;
    background-repeat: no-repeat;
    left: 40%;
    animation: bombDrop 1s ease-out forwards;
    pointer-events: none;
    z-index: 50;
}

@keyframes bombDrop {
    0% {
        transform: translateY(-80px) scale(1.3);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-20px) scale(0.9);
        opacity: 0;
    }
}
.radio-waves {
    top:0px;
    left:0px;
    position: absolute;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    transform-origin: top left;
    animation: pulse 1s ease-in-out;
    opacity: 0.8;
}
@keyframes pulse {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}
.torpedo {
    transition: top 0.12s linear, left 0.12s linear;
    position: absolute;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    transform-origin: top left;
}




